<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="header">
            <h4 class="title">Circle Graph</h4>
            <p class="category">Split by categories</p>
          </div>
          <div class="content">
            <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>
            <div class="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Category 1
                <i class="fa fa-circle text-danger"></i> Category 2
                <i class="fa fa-circle text-warning"></i> Category 3
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-clock-o"></i> Change week
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="header">
            <h4 class="title">Bar Graph</h4>
            <p class="category">Split by days</p>
          </div>
          <div class="content">
            <div id="chartHours" class="ct-chart"></div>
            <div class="footer">
              <div class="legend">
                <i class="fa fa-circle text-info"></i> Category 1
                <i class="fa fa-circle text-danger"></i> Category 2
                <i class="fa fa-circle text-warning"></i> Category 3
              </div>
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Change week
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Expenses</h4>
            <p class="category">Expense go here</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Revenue</h4>
            <p class="category">Revenue go here</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
