<div class="main-content">
  <div class="container-fluid">
    <form (ngSubmit)="filterItems()">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <select type="text" class="form-control" required
                    [(ngModel)]="filter.month" name="month">
              <option *ngFor="let month of months"
                      [value]="month.id">
                {{month.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <select type="text" class="form-control" required
                    [(ngModel)]="filter.year" name="year">
              <option *ngFor="let year of years"
                      [value]="year.id">
                {{year.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-info btn-fill">Filter</button>
        </div>
      </div>
    </form>
    <br>

    <form (ngSubmit)="addNewItem()">
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <select type="text" class="form-control" required
                    [(ngModel)]="model.type" name="type">
              <option disabled="true" [ngValue]="default">Select Type</option>
              <option *ngFor="let type of types"
                      [value]="type.id">
                {{type.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <select type="text" class="form-control" required
                    [(ngModel)]="model.category" name="category">
              <option disabled="true" [ngValue]="default">Select Category</option>
              <option *ngFor="let category of categories"
                      [value]="category.id">
                {{category.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" required
                   [(ngModel)]="model.description" name="description">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Date (yyyy-mm-dd)" required
                   [(ngModel)]="model.date" name="date">
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Amount" required
                   [(ngModel)]="model.amount" name="amount">
          </div>
        </div>
        <div class="col-md-1">
          <button type="submit" class="btn btn-info btn-fill">Add Item</button>
        </div>
      </div>
    </form>
    <br>
    
    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Expenses</h4>
            <p class="category">Expense go here</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Alcohol and shit</td>
                <td>Food and Drinks</td>
                <td>$20.58</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-12">
        <div class="card card-plain">
          <div class="header">
            <h4 class="title">Revenue</h4>
            <p class="category">Revenue go here</p>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              <tr>
                <td>June 4, 2017</td>
                <td>Work</td>
                <td>$2000.56</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
