<div class="main-content">
  <div class="container-fluid">
    <form (ngSubmit)="addShoppingItem()">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="6 Pack Of Beer" required
                   [(ngModel)]="model.description" name="description">
          </div>
        </div>
        <div class="col-md-2">
          <button type="submit" class="btn btn-info btn-fill">Add Item</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <p class="category">Current Shopping List</p>
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                <tr *ngFor="let item of items">
                  <td>{{item.description}}</td>
                  <td class="td-actions text-right">
                    <button type="button" (click)="deleteTask(item.item_id)" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



