<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Shopping List</h4>
            <p class="category">Shopping list goes here</p>
          </div>
          <div class="content">
            <div class="table-full-width">
              <table class="table">
                <tbody>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox">
                    </label>
                  </td>
                  <td>Sirloin steak and spices</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox" checked="">
                    </label>
                  </td>
                  <td>Sirloin steak and spices</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox" checked="">
                    </label>
                  </td>
                  <td>Sirloin steak and spices
                  </td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox">
                    </label>
                  </td>
                  <td>Sirloin steak and spices</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox">
                    </label>
                  </td>
                  <td>Sirloin steak and spices</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="checkbox">
                      <input type="checkbox" value="" data-toggle="checkbox">
                    </label>
                  </td>
                  <td>Sirloin steak and spices</td>
                  <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="Edit Task" class="btn btn-info btn-simple btn-xs">
                      <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                      <i class="fa fa-times"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="footer">
              <hr>
              <div class="stats">
                <i class="fa fa-history"></i> Clear list
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>



